#support-part {
  padding: 120px 0;
  margin-top: 120px;
  background: #0b0e26;
  @media (max-width: 767px) {
    padding: 60px 0;
    margin-top: 60px;
  }
  .section-title {
    h3 {
      max-width: 660px;
    }
  }
  .support-item-group {
    margin-top: 50px;
    .support-item {
      padding-inline: 30px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -1px;
        bottom: 0;
        width: 1px;
        height: 40px;
      }
      h3 {
        font-size: 24px;
        font-weight: $semi-bold;
      }
      p {
        color: $text-color;
        margin-top: 17px;
      }
      h5 {
        font-size: 18px;
        font-weight: $medium;
        margin-top: 18px;
        margin-bottom: 8px;
      }
    }
    .item-1 {
      border-left: 1px solid rgba(239, 37, 67, 0.2);
      &::after {
        background: $c1;
      }
      h6 {
        color: $c1;
      }
    }
    .item-2 {
      border-left: 1px solid rgba(255, 139, 45, 0.2);
      &::after {
        background: #ff8d2d;
      }
      h6 {
        color: #ff8d2d;
      }
    }
    .item-3 {
      border-left: 1px solid rgba(43, 199, 183, 0.2);
      &::after {
        background: #2bc7b8;
      }
      h6 {
        color: #2bc7b8;
      }
    }
  }
  .parallax-item-five {
    position: absolute;
    top: 400px;
    left: 145px;
    z-index: 99;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
