/* ************************
   02.10: Back to Top
   ********************* */
   .back-to-top {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    width: 35px;
    height: 35px;
    box-shadow: 0 4px 14px rgba( #000000, .1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    right: 4%;
    transform: scale(0);
    transition: .3s ease-in;
    @extend %c1-bg;
    &.show {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
    &:hover {
        opacity: .6;
    }
}

